{% extends "/templates/main.html" %}

{% block content %}

<div class="row h-100 align-items-center text-center">

  <!-- Content here -->
  <div class="col-12">
    <h1 class="display-1 text-responsive mb-3">Error 404: Page not found 🧐</h1>
    <p class="lead mb-4">Uh oh! Something seems to have malfunctioned. It looks like you have called a URL that does not exist.</p>
    <button type="button" class="btn btn-primary btn-lg mb-2 mx-1" onclick="window.location.href='{{ url_for( 'index') }}';">Take me to the home page</button>
  </div>
    
</div>

{% endblock %}