{% extends "/templates/main.html" %}

{% block content %}

<div class="row h-100 mt-5">
  
  <!-- Content here -->
  <div class="col-8">
    <h1 class="display-1 mb-3">{{title}}</h1>
    <p class="lead mb-4">{{description}}</p>
    <pre><code>http://127.0.0.1:5000/endpoint-url/{{session["session_property_xml_filename"]}}</code></pre>
    <button type="button" class="btn btn-primary btn-lg mt-2" id=xml_redirect onclick="replaceUrl()">Take me to my endpoint URL</button>
  </div>

</div>

{% endblock %}