{% extends "/templates/main.html" %}

{% block content %}

<div class="row h-100 mt-5">
  
  <!-- Content here -->
  <div class="col-6">
    <h1 class="display-1 mb-3">{{title}}</h1>
    <p class="lead mb-4">{{description}}</p> 
    <form action="{{ url_for('optimize_feed') }}" method="POST">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Default checkbox
        </label>
      </div>
      <input class="btn btn-primary btn-lg mt-2" type="submit" value="Get custom feed URL" />
    </form>
  </div>

</div>

{% endblock %}