{% extends "/templates/main.html" %}

{% block content %}

<div class="row h-100 align-items-center text-center">

  <!-- Content here -->
  <div class="col-12">
    <h1 class="display-1 text-responsive mb-3">{{title}}</h1>
    <p class="lead mb-4">{{description}}</p>
    <button type="button" class="btn btn-primary btn-lg mb-2 mx-1" onclick="window.location.href='{{ url_for( 'introduction') }}';">What the heck is a feedburner?</button>
    <button type="button" class="btn btn-primary btn-lg mb-2 mx-1" onclick="window.location.href='{{ url_for( 'submit_feed') }}';">Burn my feed 🔥</button>
  </div>
    
</div>

{% endblock %}