{% extends "/templates/main.html" %}

{% block content %}

<div class="row h-100 mt-5 mb-5">

  <!-- Content here -->
  <div class="col-lg-8 col-md-12">
    <h1 class="display-1 text-responsive mb-3">{{title}}</h1>
    <p class="lead mb-4">{{description}}</p>
    <p class="mb-4 text-left">Let's start with the basics. Pyfeed makes use of the web-technology <a href="https://en.wikipedia.org/wiki/RSS" target="_blank">RSS</a> (RDF Site Summary or Really Simple Syndication). It is a XML based web feed that allows users and applications to access updates to websites in a standardized, computer-readable format. Tools like the <a href="https://feedly.com/" target="_blank">Feedly</a> reader does allow users to keep track of the RSS feeds by subscribing or adding the feeds of many different websites to «news aggregator» of your choice.</p>
    <p class="mb-4">In short: RSS feeds are an awesome piece of technology. However, RSS feeds don't come in a standardized way and often lack information a feedreader could need to display your content. The Original <a href="https://feedburner.google.com/" target="_blank">Google Feedburner</a> took care of that problem by «burning» the feed so the feedreader got their additional information. Unfortunately, the software has never been further developed by Google since 2004 and is outdated. This is where Pyfeed comes in. It is a replacement for the original Feedburner, which brings and provides the most important functions of a feed burner in 2020.</p>
    <button type="button" class="btn btn-primary btn-lg mt-2" onclick="window.location.href='{{ url_for( 'submit_feed') }}';">Awesome: Burn my feed 🔥</button>
  </div>
    
</div>

{% endblock %}